/* Colors */
/* 
- Purple: #56348b 
- Blue: #312668
- Orange: #f16f0b
- Pale Yellow: #f8e57a
*/
/* Fonts */
/* 
- Titles & Anchors: Raleway
- General: Rubik
 */

/* General */

body {
  box-sizing: content-box;
  font-family: "Rubik", sans-serif;
  margin: 0;
  color: #312668;
  font-size: 18px;
  text-align: center;
  line-height: 1.5em;
}

/* Anchors */

a {
  cursor: pointer;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #f16f0b;
}
a:link {
  color: #56348b;
}
a:visited {
  color: #312668;
}
a:hover {
  text-decoration: underline;
  color: #f16f0b;
}

/* Titles */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  color: #f16f0b;
  font-weight: 800;
  margin: 0;
}

header,
footer {
  box-sizing: content-box;
  background-color: #f8e57a;
}

nav {
  display: flex;
  justify-content: space-around;
}
nav a {
  display: inline-block;
  padding: 10px 10px;
}

section {
  padding-top: 2em;
  padding-bottom: 1em;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* Banner */
.banner {
  width: 100%;
  margin: 0;
  background-color: black;
  max-width: 1720px;
  display: grid;
  grid-template-columns: 20px auto 20px;
}

.banner h1 {
  color: white;
  font-size: 20px;
}

.banner p {
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
}

.banner button {
  color: white;
  background-color: #56348b;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  padding: 6.5px 22.5px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* Banner Content */
.banner-content {
  grid-column: 2;
  display: grid;
  grid-template-rows: 100px 85px 54px 65px 78px 50px;
  align-items: center;
}

/* 
Top of the Banner: Blank space
*/
.banner-top {
  grid-row: 1;
  height: 100px;
  width: auto;
}

.banner-nav-logo {
  grid-row: 2;
  height: 85px;
  width: auto;
  padding: 3px 0;
  margin: 0;
  display: grid;
  grid-template-columns: 30px auto 30px;
  justify-items: center;
}

.main-menu {
  grid-column: 3;
  width: 24px;
  height: auto;
}

.main-logo {
  grid-column: 2;
  height: 85px;
  width: auto;
}

.main-logo,
.main-menu img {
  max-width: 100%;
  max-height: 100%;
}

.banner-title {
  grid-row: 3;
  border: 2px solid white;
  height: 54px;
  width: auto;
  display: grid;
  grid-template-columns: 30px auto 30px;
}

.s-left-arrow {
  grid-column: 1;
  border: 2px solid white;
  height: 24px;
  width: auto;
}

.main-title {
  grid-column: 2;
  border: 2px solid white;
}

.s-right-arrow {
  grid-column: 3;
  border: 2px solid white;
  height: 24px;
  width: auto;
}

.s-left-arrow,
.s-left-arrow img {
  max-width: 100%;
  max-height: 100%;
}

.banner-message {
  grid-row: 4;
  border: 2px solid white;
  height: 65px;
  width: auto;
}

.banner-button {
  grid-row: 5;
  border: 2px solid white;
  height: 78px;
  width: auto;
}

.banner-indicator {
  grid-row: 6;
  border: 2px solid white;
  height: 50px;
  width: auto;
}

.products {
  /* Flex container */
  display: flex;
  /* Main-axis: row. Wrap: multiple lines from top to bottom */
  flex-flow: row wrap;
  /* Items centered along the main axis */
  justify-content: center;
  /* Items centered along the cross axis */
  align-items: center;
  /* Items evenly distributed along the cross axis */
  align-content: center;
  min-height: 250px;
  max-height: 530px;
  width: auto;
  /* Top Right Bottom Left */
  margin: 4.75% 4.75% 0% 4.75%;
}

.product {
  flex: 0 1 auto;
  align-self: auto;
  text-align: center;
  height: 38%;
  width: 42.6%;
  min-height: 97px;
  max-height: 210px;
  min-width: 156px;
  margin: 1%;
  /* For floating text: text_over_image */
  position: relative;
  text-align: center;
  color: white;
  /* Responsive Text Size */
  font-size: 3.8vw;
  font-family: "Dancing Script", cursive;
  /* For image crop: */
  overflow: hidden;
}

.text_over_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product img {
  filter: brightness(0.5);
  align-self: center;
  max-width: 100%;
  max-height: 100%;
}

.business {
  height: 201px;
  width: auto;
  background-color: blue;
}

footer {
  height: 153px;
  width: auto;
  background-color: black;
}
